tbody th {
  text-align: center;
  font-weight: bold;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

td.numeric {
  text-align: right;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  html, body {
      width: 210mm;
      height: 297mm;
      font-size: 11px;
      background: #FFF;
      overflow: visible;
  }
  body {
      padding-top: 15mm;
  }
  table {
    page-break-inside: avoid;
  }
}
@media print and (max-width: 5in) {
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
}
