@media print {
  @page {
    size: A4; /* DIN A4 standard, Europe */
    margin: 0;
  }
  html, body {
      width: 210mm;
      /* height: 297mm; */
      height: 282mm;
      font-size: 11px;
      background: #FFF;
      overflow: visible;
  }
  body {
      padding-top: 15mm;
  }
  table {
    page-break-inside: avoid;
  }
}
@media print and (max-width: 5in) {
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
}
